In [185]:
from google.colab import drive
import pandas as pd
df = pd.read_csv('/content/pandasmess/MyDrive/ExcelColab/FinancialData.csv')

In [ ]:
print(df)

In [196]:
pd.set_option('display.width', 1000) # Tamanho lateral m√°ximo
pd.set_option('display.max_columns', None) # Libera o display de todas as colunas
pd.set_option('display.max_rows', None) # Libera o display de todas as linhas

filter = df.columns[5:17]

for coluna in filter:

    df[coluna] = df[coluna].astype(str).str.replace('\$', '').str.replace(r'(', '-').str.replace(')', '').str.replace(',', '').str.replace('.', '')
    df[coluna] = pd.to_numeric(df[coluna], errors='coerce')


df['Total'] = df.iloc[:, 5:17].sum(axis=1)
df['Total'] = df.groupby('Businees Unit')['Total'].transform('sum')
df.reset_index(drop=True, inplace=True)
print(df)

  Account Businees Unit Currency  Year Scenario       Jan       Feb       Mar       Apr       May       Jun       Jul       Aug       Sep       Oct       Nov       Dec      Total
0   Sales      Software      USD  2012  Actuals  90924002  82606134  72780220  52943701  77528109  96384524  77345061  98290873  79879127  95373403  54887908  82703597  961646659
1   Sales   Advertising      USD  2012  Actuals  20003280  24781840  15283846  15883110  19382027  22168441  18562815  29487262  23164947  27658287  14819735  18194791  249390381
2   Sales      Hardware      USD  2012  Actuals  32732641  30564270  26200879  19589169  29460681  36626119  23976969  34401806  29555277  31473223  17015251  31427367  343023652

<ipython-input-196-3cd5cd7d87a0>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df[coluna] = df[coluna].astype(str).str.replace('\$', '').str.replace(r'(', '-').str.replace(')', '').str.replace(',', '').str.replace('.', '')
<ipython-input-196-3cd5cd7d87a0>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[coluna] = df[coluna].astype(str).str.replace('\$', '').str.replace(r'(', '-').str.replace(')', '').str.replace(',', '').str.replace('.', '')